<div class='container'>
    <h1 class='main-header center-align cyan-text text-lighten-4'>Portfolio Manager</h1>

    <!-- Add Project Form -->
    <form enctype="multipart/form-data" id='new-project-form' class="row">
        <div class="input-field col s12">
            <input id="title" type="text" name="title">
            <label for="title">Title</label>
        </div>
        <div class="input-field col s12">
            <input id="github" type="text" name="github">
            <label for="github">GitHub Link</label>
        </div>
        <div class="input-field col s12">
            <input id="project_link" type="text" name="project_link">
            <label for="project_link">Project Link</label>
        </div>
        <div class="input-field col s12">
            <input id="description" type="text" name="description">
            <label for="description">Description</label>
        </div>

        <h2 class='technology-header cyan-text text-lighten-4'>Technology Used</h2>
        <div class='row'>
            <div class='col s6'>
                <p>
                    <label for="jquery">
                        <input id='jquery' name='jquery' type="checkbox" />
                        <span>jQuery</span>
                    </label>
                </p>
                <p>
                    <label for='react'>
                        <input id='react' name='react' type="checkbox" />
                        <span>React</span>
                    </label>
                </p>
                <p>
                    <label for='redux'>
                        <input id='redux' name='redux' type="checkbox" />
                        <span>Redux</span>
                    </label>
                </p>
                <p>
                    <label for='node'>
                        <input id='node' name='node' type="checkbox" />
                        <span>Node</span>
                    </label>
                </p>
                <p>
                    <label for='mongodb'>
                        <input id='mongodb' name='mongodb' type="checkbox" />
                        <span>MongoDB</span>
                    </label>
                </p>
                <p>
                    <label for='mongoose'>
                        <input id='mongoose' name='mongoose' type="checkbox" />
                        <span>Mongoose</span>
                    </label>
                </p>
                <p>
                    <label for='express'>
                        <input id='express' name='express' type="checkbox" />
                        <span>Express</span>
                    </label>
                </p>
            </div>
            <div class='col s6'>
                <p>
                    <label for='sql'>
                        <input id='sql' name='sql' type="checkbox" />
                        <span>SQL</span>
                    </label>
                </p>
                <p>
                    <label for='mysql'>
                        <input id='mysql' name='mysql' type="checkbox" />
                        <span>mySQL</span>
                    </label>
                </p>
                <p>
                    <label for='sequelize'>
                        <input id='sequelize' name='sequelize' type="checkbox" />
                        <span>Sequelize</span>
                    </label>
                </p>
                <p>
                    <label for='passport'>
                        <input id='passport' name='passport' type="checkbox" />
                        <span>Passport</span>
                    </label>
                </p>
                <p>
                    <label for='jest'>
                        <input id='jest' name='jest' type="checkbox" />
                        <span>Jest</span>
                    </label>
                </p>
                <p>
                    <label for='enzyme'>
                        <input id='enzyme' name='enzyme' type="checkbox" />
                        <span>Enzyme</span>
                    </label>
                </p>
                <p>
                    <label for='handlebars'>
                        <input id='handlebars' name='handlebars' type="checkbox" />
                        <span>Handlebars</span>
                    </label>
                </p>
            </div>
        </div>



        <div class="file-field input-field">
            <div class="btn cyan lighten-4 cyan-text text-darken-2 waves-effect waves-dark">
                <span>Image</span>
                <input type="file" name="image">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <div class='row'>
            <button id="submitBtn"
                class="btn cyan lighten-4 cyan-text text-darken-2 waves-effect waves-dark col m4 s12 offset-m4"
                type="submit" name="action">Submit
            </button>
        </div>
    </form>
</div>

<!-- Project List -->
<div id='my-projects' class='grid'>
    <div class="grid-sizer"></div>

    {{#each projects}}
    <div class="grid-item">
        <div class="card cyan lighten-3">
            <div class="card-content cyan-text text-darken-3">
                <span class="card-title">{{title}}</span>
                <p>Description: {{description}}</p>
                <p>Github Link: {{github}}</p>
                <p>Project Link: {{project_link}}</p>
                <h2 class='technology-header center-align'>Technology</h2>
                <ul>
                    {{#each technology}}
                    <li class='center-align'>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="card-action">
                <a data-id="{{this._id}}" class="modal-trigger cyan-text text-darken-4 edit-btn"
                    href="#editModal">Edit</a>
                <a data-id="{{this._id}}" class="modal-trigger cyan-text text-darken-4 right delete-btn"
                    href="#deleteModal">Delete</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- Edit Modal  -->
<div id="editModal" class="modal">
    <div class="modal-content cyan darken-1">
        <h2 class='modal-header cyan-text text-lighten-4'>Edit Project</h2>
        <!-- Edit Form -->
        <form enctype="multipart/form-data" id='edit-form' class="row">
            <div class="input-field col s12">
                <input id="title" type="text" name="title">
                <label for="title">Title</label>
            </div>
            <div class="input-field col s12">
                <input id="github" type="text" name="github">
                <label for="github">GitHub Link</label>
            </div>
            <div class="input-field col s12">
                <input id="project_link" type="text" name="project_link">
                <label for="project_link">Project Link</label>
            </div>
            <div class="input-field col s12">
                <input id="description" type="text" name="description">
                <label for="description">Description</label>
            </div>

            <h3 class='technology-header cyan-text text-lighten-4'>Technology Used</h3>
            <div class='row'>
                <div class='col s6'>
                    <p>
                        <label for="edit-jquery">
                            <input id='edit-jquery' name='edit-jquery' type="checkbox" />
                            <span>jQuery</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-react'>
                            <input id='edit-react' name='edit-react' type="checkbox" />
                            <span>React</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-redux'>
                            <input id='edit-redux' name='edit-redux' type="checkbox" />
                            <span>Redux</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-node'>
                            <input id='edit-node' name='edit-node' type="checkbox" />
                            <span>Node</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-mongodb'>
                            <input id='edit-mongodb' name='edit-mongodb' type="checkbox" />
                            <span>MongoDB</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-mongoose'>
                            <input id='edit-mongoose' name='edit-mongoose' type="checkbox" />
                            <span>Mongoose</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-express'>
                            <input id='edit-express' name='edit-express' type="checkbox" />
                            <span>Express</span>
                        </label>
                    </p>
                </div>
                <div class='col s6'>
                    <p>
                        <label for='edit-sql'>
                            <input id='edit-sql' name='edit-sql' type="checkbox" />
                            <span>SQL</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-mysql'>
                            <input id='edit-mysql' name='edit-mysql' type="checkbox" />
                            <span>mySQL</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-sequelize'>
                            <input id='edit-sequelize' name='edit-sequelize' type="checkbox" />
                            <span>Sequelize</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-passport'>
                            <input id='edit-passport' name='edit-passport' type="checkbox" />
                            <span>Passport</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-jest'>
                            <input id='edit-jest' name='edit-jest' type="checkbox" />
                            <span>Jest</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-enzyme'>
                            <input id='edit-enzyme' name='edit-enzyme' type="checkbox" />
                            <span>Enzyme</span>
                        </label>
                    </p>
                    <p>
                        <label for='edit-handlebars'>
                            <input id='edit-handlebars' name='edit-handlebars' type="checkbox" />
                            <span>Handlebars</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="file-field input-field">
                <div class="btn cyan lighten-4 cyan-text text-darken-2 waves-effect waves-dark">
                    <span>Image</span>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer cyan darken-1">
        <button href="#!" class="modal-close waves-effect waves-dark cyan-text text-lighten-5 btn-flat">Close</button>
        <button id='confirm-update'
            class="modal-close waves-effect waves-dark cyan-text text-lighten-5 btn-flat">Update</button>
    </div>
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content cyan darken-1">
        <h2 class='modal-header cyan-text text-lighten-4'>Delete Confirmation</h2>
        <p class='cyan-text text-lighten-4'>Are you sure you want to delete this project from your portfolio?</p>
    </div>
    <div class="modal-footer cyan darken-1">
        <button href="#!" class="modal-close waves-effect waves-dark cyan-text text-lighten-5 btn-flat">Close</button>
        <button id='confirm-delete' href="#!"
            class="modal-close waves-effect waves-dark cyan-text text-lighten-5 btn-flat">Delete</button>
    </div>
</div>